<div class="container">
  <h2>Proyectos</h2> <hr>
  <button type="button" *ngIf="logIn && getId==per_id" (click)="addMode=!addMode" class="btn btn-success" >Añadir nueva formacion</button>
  <!-- Formulario para añadir entradas -->
  <form #formadd class="form-inline border border-secondary" [formGroup]="formAdd" *ngIf="addMode==true" (ngSubmit)="onEnviar($event)">
      <br>
        <h4>Nuevo Proyecto</h4>
      <br>
      <div class="form-group">
        <label class="input-group-text">Titulo</label>
        <input type="text" formControlName="titulo" class="form-control">
      </div> <br>
      <div class="form-group">
        <label class="input-group-text">Periodo</label>
        <input type="text" formControlName="periodo" class="form-control">
      </div> <br>
      <div class="form-group">
        <label class="input-group-text">Descripción</label>
        <textarea formControlName="descripcion" class="form-control"></textarea>
      </div> <br>
      <div class="form-group">
        <label class="input-group-text">Link</label>
        <input type="text" formControlName="link" class="form-control">
      </div> <br>
      <input type="submit" class="btn btn-primary">
      <br>
  </form>
  <!-- Fin Formulario -->

  <!-- Lista de Proyectos con sus formularios de edición -->
  <div class="row margin-top" *ngFor="let pro of listaProyectos">
    <br>
    <div class="card" id={{pro.id}} *ngIf="this.editMode!=pro.id" >
      <div class="row">
          <div class="card-body">
            <div class="card-title"><h4>{{pro.titulo}}</h4><button *ngIf="logIn && getId==per_id" (click)="edit(pro.id)" class="btn btn-primary">Editar</button><button (click)="onBorrar(pro.id)" *ngIf="logIn" class="btn btn-danger">Borrar</button></div>
            <p class="card-header">{{pro.periodo}} <br> 
            <p class="card-text">{{pro.descripcion}}</p> <br>
            <a href={{pro.link}} target="_blank">Link al proyecto</a>
          </div>
      </div>
    </div>
    <form  class="form-inline border border-secondary" [formGroup]="form" *ngIf="this.editMode==pro.id"  (ngSubmit)="onEditar(pro.id)">
       <div class="form-group">
        <label class="input-group-text">Titulo</label>
        <input type="text" formControlName="titulo" [(ngModel)]="pro.titulo" class="form-control">
      </div> <br>
      <div class="form-group">
        <label class="input-group-text">Periodo</label>
        <input type="text" formControlName="periodo" [(ngModel)]="pro.periodo" class="form-control">
      </div> <br>
      <div class="form-group">
        <label class="input-group-text">Descripción</label>
        <textarea formControlName="descripcion" [(ngModel)]="pro.descripcion" class="form-control"></textarea>
      </div> <br>
      <div class="form-group">
        <label class="input-group-text">Link</label>
        <input type="text" formControlName="link" [(ngModel)]="pro.link" class="form-control">
      </div> <br>
      <input type="submit" class="btn btn-primary">
      <br>
      <button type="button" (click)="editMode=-1" class="btn btn-warning">Volver</button>
      <br>
    </form>
    <br>
  </div>
  <!-- Fin de lista -->
</div>
